/* AO start global fields */
$bgf7f7f7: #f7f7f7;
$color96A78C: #96a78c;
$CBDDD6: #cbddd6;
.click {
  pointer-events: none;
}
input[type="email"],
textarea,
input[type="text"] {
  border: 3px solid $green-bg2;
  padding: 0 17px;
  border-radius: 6px;
  min-height: 48px;
}
.filepond--credits {
  display: none;
}
textarea {
  height: 154px;
  resize: none;
  padding-top: 13px;
}
::placeholder {
  font-size: 16px;
  color: $color3;
}
.searchNews {
  input {
    background-color: #fff;
    &::placeholder {
      color: #05261487;
    }
  }
}
.arrowDown {
  &:hover {
    strong {
      img {
        transform: scaleX(1.1) scaleY(1.3);
      }
    }
  }
  span {
    font-size: 16px;
    color: $green-bg3;
    padding-#{$end-direction}: 15px;
  }
  strong {
    width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $green-bg3;
    border-radius: 50px;
    img {
      transition: transform 0.3s;
    }
  }
}
.ulPoint {
  padding-bottom: 50px;
  li {
    font-size: 16px;
    color: $color3;
    line-height: 24px;
    margin-bottom: 15px;

    p {
      font-size: 16px;
      color: $color3;
      line-height: 24px;
      transform: translateY(-1px);
    }
    &::marker {
      color: $green-bg3;
      font-size: 22px;
    }
  }
}
.downloadFile {
  display: flex;
  width: 421px;
  background: #fff;
  min-height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 22px;
  padding-#{$end-direction}: 41px;
  border: 1px solid $CBDDD6;
  border-radius: 4px;
  span {
    font-size: 17px;
    color: #0b261f;
    width: 80%;
    // border-left: 1px solid red;
    strong {
      color: $green-bg3;
      display: block;
      margin-bottom: 13px;
    }
  }
  .logoBorder {
    width: 20%;
    border-#{$start-direction}: 1px solid $CBDDD6;
    padding-#{$start-direction}: 30px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: #{$start-direction};
  }
}
.shareLink {
  position: relative;
  &:hover {
    strong {
      transform: translateX(18px);
      opacity: 0;
    }
    .shareLi {
      #{$start-direction}: 0;
      li {
        padding-#{$end-direction}: 10px;
      }
    }
  }
  strong {
    display: none;
    font-weight: 400;
    display: inline-block;
    transition: 0.5s;
    span {
      font-size: 16px;
      color: $green-bg3;
      padding-#{$start-direction}: 15px;
      font-weight: 400;
    }
  }
  .shareLi {
    list-style: none;
    padding: 0;
    display: flex;
    position: absolute;
    top: 10px;
    #{$start-direction}: -180px;
    transition: 0.5s ease-in-out;
    li {
      padding-#{$end-direction}: 0px;
      transition: 0.5s ease-in-out;
      a {
        width: 30px;
        height: 30px;
        // background: #00AB7A;
        background: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        transition: 0.3s ease;
        &:hover {
          background: #00ab7a;
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}
.fancybox-skin {
  padding: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: transparent;
}
.main-navbar.fixed {
  display: none;
}
.fancybox-prev span,
.fancybox-next span,
.fancybox-close {
  background-size: 44px;
}
.fancybox-lock .fancybox-overlay {
  overflow-y: auto;
}
.breadcrumb-area {
  background-color: rgba(217, 217, 217, 0.35);
}
.label {
  color: $green-color3;
  font-size: 16px;
  font-weight: 500;
}
.font20bold {
  color: $green-bg1;
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
}
.font30bold {
  font-size: 30px;
  font-weight: bold;
  color: $green-bg1;
  line-height: 55px;
}
.pragh17regular {
  color: $color3;
  font-size: 17px;
  line-height: 1.6;
}
.pragh17regular2 {
  font-size: 17px;
  font-weight: 400;
  color: $color1;
  margin-bottom: 0;
  line-height: 32px;
}
.customTitle {
  font-size: 25px;
  font-weight: 700;
  color: $green-bg1;
  margin-bottom: 15px;
  padding-#{$start-direction}: 40px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(../images/endowment/titleArrow.svg) no-repeat 0 0;
    background-size: contain;
  }
}
.readMoreBtn {
  padding: 15px 32px;
  background: rgba(203, 221, 214, 0.3);
  border-radius: 28px;
  font-size: 18px;
  color: $green-bg1;
  span {
    font-size: 18px;
    margin-#{$end-direction}: 13px;
  }
  &:hover {
    color: $green-bg1;
  }
}
.btnWithArrow {
  min-width: 141px;
  height: 52px;
  border-radius: 16px;
  background: $green-bg2;
  color: #fff;
  border: unset;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.3s;
  span {
    font-size: 17px;
    color: #fff;
  }
  &:hover {
    background: #36976c;
  }
}
select::-ms-expand {
  display: none;
}
select {
  min-width: 110px;
  min-height: 36px;
  border: 3px solid $green-bg2;
  padding: 0 15px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend .label;
  background: #fff url(../images/news/ArrowSelect.svg) no-repeat 13px 12px;
  option {
    // color: $green-color3;
    // font-size: 16px;
    // font-weight: 500;
  }
}
label {
  @extend .label;
}
/* AO end global fields */

/* in dark mode */
.darkMood {
  background-color: #060c0a !important;
  .breadcrumb-area {
    background-color: #10201b !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a:not(.nav-link),
  span,
  strong,
  .details-list ul.green-dots li,
  .details-list ul.green-dots li::marker,
  .filterDate label,
  .pagination a.current,
  .main-navbar .nav-item .nav-link,
  .Suggestions .bgWhite .inputg label,
  .about-tabs .Birth-and-founding ul li,
  .readableBoxV2.readableBox:not(:hover) .RText h3,
  .readableBoxV2.readableBox:not(:hover) .shareLink strong span,
  .reyadah-inner .list-ryadah-card:not(:hover) .content-box ul.green-dots li,
  .tenders-list
    .tender-list-card
    ul
    li
    .content-have-icon.status
    .content-box
    div,
  .reyadah-inner
    .list-ryadah-card:not(:hover)
    .content-box
    ul.green-dots
    li::marker,
  .breadcrumb li {
    color: #fff !important;
  }
  .functions-sec a {
    filter: grayscale(100%);
  }
  .about-tabs ul.nav {
    background-color: #fff;
  }
  .FAQParent .redMoreCenter .readMoreBtn img,
  .channelCard .chCardBox img,
  .breadcrumb-area ul.breadcrumb li:not(:last-of-type)::before,
  .BGInnerNew .dateOfNews .dateNS img,
  .content-with-icon .img-box img,
  .share img,
  .customTitle::after,
  .boxServices .iconServ img,
  .reyadah-inner .list-ryadah-card .img-box img,
  .the-values .values-list .values-card .img-box img,
  .the-values h3 img,
  .bgSearch .helpClass img,
  .SearchResults .resultBox li:not(:hover) > img,
  .service-list.inner-serv-list .service-card:not(:hover) .img-box img,
  .branches .branches-details ul.contact-det li img,
  .servicesPageTwo .wrapperBox .whiteBoxServ .logoB img,
  .servicesPageTwo .boxServ2 .logoSR img,
  .downloadFile .logoBorder img,
  .serviceBox .SrvLogo img,
  .main-navbar .nav-item .nav-link::after,
  .readableBoxV2:not(:hover) .RText .actionsBtn img,
  .tenders-list .tender-list-card ul li .content-have-icon.status .img-box img,
  .main-navbar .nav-item .dropdown-menu::before,
  .arrowNews .owl-carousel .owl-nav button {
    filter: brightness(0) invert(1) !important;
  }
  .endowmentHeader .owl-carousel .owl-nav button {
    filter: unset !important;
  }
  .about-list-cards .list-card .content-box p {
    color: #0f3329 !important;
  }
  .bgGallery .galleryBox .GLtitle h2,
  .pagination a,
  .bgGallery .galleryBox .GLtitle a span,
  .boxCommittee .pragh17regular,
  .shareLink strong span,
  .top-nav .top-links .Accessibilty .dropdown-menu li a span,
  .board-members .list-card .content-box p,
  .readableBox .RText h3, .readableBox .RText .h3,
  .cardNews .cardText .heading20,
  .cardNews .cardText .redMoreNews span,
  .reyadah-inner .the-msg .content-box p,
  // .reyadah-main .content-box h2,
  .the-pilings .pilling-card .content-box h4, .the-pilings .pilling-card .content-box .h4,
  .readableBoxV2:hover .actionsBtn .downloadL a span,
  .reyadah-inner .ryada-more a,
  .SearchResults .resultBox li:hover h3 a,
  .displayRow2 .readableBoxV2:not(:hover) .RText h3 ,
  .displayRow2 .readableBoxV2:not(:hover) .actionsBtn span ,
  .main-navbar .nav-item .dropdown-menu li a,
  .board-members .list-card .content-box h4 {
    color: #1c614e !important;
  }
  .service-list.inner-serv-list .service-card:hover .content-box h4,
  .committeesV1 .boxCommitteeAwqaf .AQtext .redMoreNews span,
  .board-members .list-card .content-box a {
    color: #00ab7a !important;
  }
  .committeesV1 .boxCommitteeAwqaf .AQtext p,
  .top-nav .top-links .Accessibilty .dropdown-menu li a {
    color: #96a78c !important;
  }
  .the-pilings h3, .the-pilings .h3,
  // .reyadah-main .content-box p,
  .reyadah-inner .the-msg .content-box h3 {
    color: #00846c !important;
  }
  .displayRow .cardNews .cardText .praghCard {
    color: #8fa498 !important;
  }
  .SearchResults .resultBox li:hover .downloadPdf,
  .readableBox .RText p span {
    color: #c48145 !important;
  }
  .SearchResults .resultBox li:hover p strong,
  .SearchResults .resultBox li:hover p {
    color: #0b261f !important;
  }
  .contactUsBg .bgMap .bgSend {
    background: #0d1815;
  }
  .bgNews,
  .bgGallery,
  .PrivacyPolicy,
  .TermsConditions,
  .Bgshare,
  .SearchResults,
  .Suggestions,
  .RegulationsV2,
  .servicesPageTwo,
  .FAQParent {
    background-color: transparent;
  }
  .reyadah-inner .list-ryadah-card:not(:hover) {
    background-color: #09120f;
  }
  .servicesPageTwo .boxServ2 .testSR .actionsDownload .downloadFile,
  .servicesPageTwo .wrapperBox .whiteBoxServ,
  .service-list.inner-serv-list .service-card:not(:hover),
  .servicesPageTwo .redirectServ,
  .serviceBox,
  .Suggestions .bgWhite,
  .SearchResults .bgSearch {
    background: #1b1c1b;
  }
  .tenders-list .tender-list-card,
  .latest-tenders,
  .tender-details {
    background: #202020;
  }
  .tender-details .tenders-item-flag,
  .tender-details .tenders-item .tenders-label {
    background-color: #060c0a;
  }
  .tenders-list .tender-list-card ul li h5,
  .about-tabs .Birth-and-founding,
  .tender-details
    .attachments-section
    .attachments-container
    .field--item:nth-child(even) {
    background-color: #1a1a1a;
  }
  .tender-details,
  .tenders-list .tender-list-card,
  .tender-details .attachments-section .attachments-container .item,
  .tender-details .attachments-section .attachments-container .file {
    border: 1px solid #060c0a;
  }
  .reyadah-main .img-box::before {
    background: linear-gradient(
      90deg,
      rgba(11, 38, 31, 0.5018382352941176) 0%,
      rgba(5, 14, 10, 0.953) 65%
    );
  }
  footer .last-footer,
  footer .top-footer,
  .top-nav {
    // background-color: #061612;
    background-color: #10201b;
  }
  footer .footer-slider {
    // background-color: #081e19;
    background-color: #10201b;
  }
  .endowmentHeader .endowmentBox {
    background-color: #09120f;
  }
  .top-nav .top-links a.waqfi {
    border-#{$end-direction}: 1px solid #ffffff;
  }
  .main-navbar {
    background-color: #0c1814;
  }
  .branches .branches-details select {
    filter: grayscale(100%);
  }
  .displayRow2 .readableBoxV2:not(:hover) .actionsBtn img {
    filter: unset !important;
  }
  .main-navbar .nav-item .dropdown-menu {
    background-color: #fff;
  }
  .main-navbar .nav-item .dropdown-menu li a:hover {
    background-color: #1c614e0f;
  }

  .navbar-brand {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      #{$start-direction}: 0;
      background-image: url(../images/footer-Logo.svg);
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
  select,
  .searchNews input {
    border: 3px solid #013e2d;
  }
  .prePagi.current,
  .SearchResults .bgSearch .form-group-search button,
  .displayComponent .boxGridDS a.active {
    background: #24704e;
  }
  .about-tabs ul.nav li button.active,
  .latest-tenders .send-cri .mail-send,
  .contactUsBg .bgMap .bgSend .actionBtn .btnWithArrow,
  .tabsBtns .nav-item button.active {
    background: #10382d;
  }
  .serviceBox:hover {
    background: #0b2820;
  }
  .channelCard .chCardBox:hover {
    background-color: #0b2820;
    border: 2px solid #0b2820;
  }
}

/* AO start news page */
.forDirction {
  flex-direction: row-reverse;
  text-align: #{$end-direction};
  padding: 36px 0;
  .col-md-3 {
    max-width: 265px;
  }
  .displayComponent {
    justify-content: #{$end-direction};
  }
}
.filterDate {
  label {
    padding-#{$end-direction}: 16px;
    line-height: 36px;
  }
}
.searchNews {
  input {
    min-width: 195px;
    min-height: 36px;
    border: 3px solid $green-bg2;
    padding: 0 15px;
    border-radius: 6px;
    background: #fff url(../images/news/searchIcon.svg) no-repeat 13px 7px;
    font-size: 16px;
    color: #05261487;
  }
}

.displayComponent {
  display: flex;
  .boxText {
    .label {
      padding-#{$end-direction}: 16px;
      margin-bottom: 0;
      line-height: 36px;
    }
  }
  .boxGridDS {
    background: #e9edea;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 36px;
    a {
      display: inline-flex;
      width: 48px;
      height: 36px;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      &.active {
        background: $green-bg2;
        img {
          filter: brightness(10);
        }
      }
    }
  }
}

.displayRow {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
}

.bgNews {
  background-color: $bgf7f7f7;
}
.cardNews {
  transition: 0.3s;
  height: 515px;
  margin-bottom: 40px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  .forClick {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .CardImg {
      height: 228px;

      img {
        // height: calc(100% - 20px);
        transform: scale(1.2);
      }
    }
    .cardText {
      height: 286px;
      //   transform: translateY(-20px);
      .heading20 {
        margin-bottom: 32px;
      }
    }
  }
  .CardImg {
    height: 247px;
    transition: 0.3s;
    overflow: hidden;
    img {
      height: 100%;
      max-width: 100%;
      transition: 0.3s;
      width: 100%;
    }
  }
  .cardText {
    background-color: #fff;
    padding: 14px 16px 19px;

    height: 268px;
    transition: 0.3s;
    .date {
      margin-bottom: 6px;
      background: $light-orange;
      display: inline-flex;
      align-items: center;
      padding: 3px 11px;
      height: 34px;
      border-radius: 2px;
      span {
        color: #fff;
        font-size: 14px;
        padding-#{$start-direction}: 15px;
      }
      img {
        max-width: 16px;
      }
    }
    .heading20 {
      @extend .font20bold;
      margin-bottom: 12px;
      max-height: 140px;
      overflow: hidden;
      transition: 0.3s;
    }
    .praghCard {
      font-size: 16px;
      line-height: 1.6;
      color: #8fa498;
      display: none;
    }
    .redMoreNews {
      display: flex;
      align-items: center;
      justify-content: #{$end-direction};
      position: relative;
      z-index: 9;
      span {
        font-size: 16px;
        padding-#{$end-direction}: 11px;
        color: #3aa877;
      }
      img {
        max-width: 43px;
        transition: 0.3s;
      }
      &:hover {
        img {
          transform: translateX(-3px);
        }
      }
    }
  }
}
.displayRow {
  .cardNews {
    display: flex;
    height: 287px;
    background: white;
    .CardImg {
      height: 100%;
      overflow: hidden;
      margin: 15px;
      max-height: 257px;
      background: white;
      flex-shrink: 0;
      max-width: 343px;
    }
    .cardText {
      height: 100%;
      padding-#{$start-direction}: 8px;
      .praghCard {
        display: block;
      }
      .heading20 {
        margin-bottom: 26px;
      }
    }
    &:hover {
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
      .CardImg {
        // height: 228px;
        img {
          transform: scale(1.2);
        }
      }
      .cardText {
        // height: 288px;
        // transform: translateY(-20px);
        .heading20 {
          margin-bottom: 26px;
        }
      }
    }
  }
}
.pagination {
  padding: 25px 0 35px;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 5px;
    margin: 0 7px;
    font-size: 16px;
    color: $green-bg1;
    // &:first-of-type {
    //     transform: rotate(180deg);
    // }
    &.current {
      background-color: $green-bg2;
      color: #fff;
      cursor: unset;
    }
    &.aspNetDisabled {
      cursor: unset;
      opacity: 0.5;
    }
  }
}
.BGInnerNew {
  padding-bottom: 205px;
  .font30bold {
    padding: 44px 0 78px;
  }
  .dateOfNews {
    display: flex;
    margin-bottom: 26px;
    .dateNS {
      padding-#{$end-direction}: 30px;
      display: flex;
      align-items: center;
      span {
        font-size: 14px;
        color: $color96A78C;
        padding-#{$start-direction}: 5px;
      }
    }
  }
  .contentNews {
    padding: 33px 0 4px;
    p {
      @extend .pragh17regular;
      margin-bottom: 33px;
    }
  }
}
.sliderNews {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  .fancybox {
    &::after {
      width: 50px;
      height: 50px;
      background: url(../images/news/fullscreen.svg) no-repeat center center;
      background-size: cover;
      content: "";
      position: absolute;
      bottom: 22px;
      right: 29px;
    }
  }
  img {
    max-height: 560px;
    border-radius: 12px;
  }
}
.arrowNews {
  position: relative;
  .owl-carousel {
    .owl-nav {
      button {
        width: 44px;
        height: 44px;
        border: 1px solid #00ab7a !important;
        border-radius: 4px;
        background: url(../images/news/arrowSlider.svg) no-repeat 13px 9px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        span {
          visibility: hidden;
        }
        &.owl-prev {
          #{$end-direction}: -96px;
        }
        &.owl-next {
          #{$start-direction}: -96px;
          transform: scaleX(-1);
        }
        &.disabled {
          opacity: 0.5;
          cursor: auto;
        }
      }
    }
  }
}
body {
  .dotsCustom {
    .owl-dot {
      &.active {
        background-color: $green-bg1;
      }
      border: 2px solid $green-bg1;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 0 7px;
      background: transparent;
    }
  }
}
/* AO end news page */
/* AO start endowment page */
.endowmentHeader {
  padding: 55px 0 0;
  .owl-item {
    img {
      height: 560px;
      object-fit: cover;
    }
  }
  .sliderNews {
    .owl-dots {
      position: absolute;
      bottom: 32px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
  .owl-carousel {
    .owl-nav {
      button {
        background-color: #fff;
        border: unset !important;

        &.owl-prev {
          #{$end-direction}: 5px;
        }
        &.owl-next {
          #{$start-direction}: 5px;
        }
      }
    }
  }

  .endowmentBox {
    // background-color:#B4DDC0 ;
    height: 560px;
    border-radius: 12px;
    padding: 92px 45px;
    text-align: center;
    list-style: none;
    background: url(../images/endowment/Pattern01.svg) no-repeat 50% 0px;
    background-color: rgba(180, 221, 192, 0.5);
    li {
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;
      &:last-of-type {
        margin-bottom: 0px;
        border-bottom: 0px solid #fff;
      }
      h3 {
        @extend .font30bold;
        margin-bottom: 0;
        line-height: normal;
      }
      p {
        margin-bottom: 15px;
        color: $green-bg2;
      }
    }
  }
}
.endowmentContent {
  .contentBox {
    .customTitle {
      margin: 33px 0;
    }
    p {
      @extend .pragh17regular2;
    }
    .row {
      justify-content: center;
    }
    .boxServices {
      .customTitle {
        margin-bottom: 50px;
      }
    }
  }
}
.boxServices {
  text-align: center;
  margin-bottom: 50px;
  .iconServ {
    margin-bottom: 20px;
  }
}
.downloadBook {
  padding: 90px 0 89px;
  a {
    background: #b4ddc0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    strong {
      @extend .font30bold;
      padding-#{$start-direction}: 76px;
      line-height: normal;
      span {
        display: block;
        font-size: 16px;
        color: #fff;
        margin-bottom: 16px;
      }
    }
    .bgQwqaf {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        background: url(../images/endowment/awqafBG.png) no-repeat 0 0;
        height: 100%;
        width: 240px;
        #{$start-direction}: 0;
      }
    }
  }
}
.chartDevEndowment {
  ul {
    display: flex;
    text-align: center;
    justify-self: flex-start;
    justify-content: #{$end-direction};
    flex-wrap: wrap;
    // direction: ltr;
    li {
      list-style: none;
      // max-width: 206px;
      max-width: 306px;
      position: relative;
      margin-bottom: 44px;
      padding: 0 30px;
      &::after {
        position: absolute;
        content: "";
        top: 25px;
        height: 2px;
        width: 75%;
        background-color: #00ab7aa3;
        right: 191px;
      }
      span {
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(76, 192, 173, 0.5);
        border-radius: 50%;
        font-size: 30px;
        font-weight: bold;
        color: $green-bg1;
        margin: 0 auto;
      }
      p {
        @extend .pragh17regular2;
      }
    }
  }
}
.chartDevEndowment {
  ul {
    li {
      &:nth-of-type(4n) {
        &::after {
          width: 45%;
        }
      }
      &:last-of-type {
        &::after {
          width: 45%;
        }
        &::before {
          position: absolute;
          content: "";
          height: 163px;
          width: 29px;
          #{$end-direction}: -26px;
          top: -135px;
          border-radius: 7px;
          display: flex;
          border-#{$end-direction}: 3px solid #00ab7aa3;
        }
      }
    }
  }
}
/* AO End endowment page */
.tabsBtns {
  margin: 50px 0 42px;
  justify-content: center;
  .nav-item {
    button {
      min-width: 224px;
      background: #fff;
      height: 62px;
      margin: 0 10px;
      border-radius: 8px;
      color: $color4;
      font-size: 16px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      &.active {
        background: $green-bg1;
        color: #fff;
      }
    }
  }
}
.FAQParent {
  background-color: $bgf7f7f7;
  .accordion {
    margin-bottom: 68px;
  }

  .tab-content {
    margin: 30px 0 0;
    .accordion-item {
      border: unset;
      background: transparent;

      .accordion-header {
        button {
          background: #ffffff;
          border: unset;
          height: 68px;
          padding: 0 44px;
          font-size: 17px;
          color: $color3;
          position: relative;
          box-shadow: unset;
          border-radius: 8px;
          margin-bottom: 15px;
          &::after {
            background-image: url(../images/news/faqsArrow.svg);
            #{$start-direction}: 20px;
            position: absolute;
            width: 13px;
            height: 12px;
            background-size: contain;
            top: 30px;
            filter: brightness(0);
            transform: rotate(-93deg);
          }
          &:not(.collapsed) {
            color: $green-bg3;
            &::after {
              filter: unset;
              transform: unset;
            }
          }
        }
      }
      .accordion-body {
        padding: 11px 20px 40px 20px;
        background: transparent;
        .contentFaq {
          p {
            font-size: 16px;
            line-height: 2;
            color: $color3;
          }
          .actionFaqs {
            margin-top: 25px;
            text-align: center;
            h2 {
              font-size: 16px;
              font-weight: bold;
              color: $green-bg1;
              margin-bottom: 18px;
            }
            .ActionBtn {
              button {
                border: unset;
                min-width: 62px;
                height: 40px;
                border-radius: 6px;
                background: #fff;
                font-size: 18px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
                &.yesFaq {
                  color: $green-bg3;
                  margin-#{$end-direction}: 18px;
                }
                &.noFaq {
                  color: $golden-color;
                }
              }
            }
          }
        }
      }
    }
  }
  .redMoreCenter {
    padding-bottom: 124px;
    text-align: center;
  }
}

/* ao start gallery page */
.bgGallery {
  background-color: $bgf7f7f7;

  .galleryBox {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 40px;
    .forClick {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }

    .GLimg {
      height: 247px;
      overflow: hidden;
      position: relative;
      img {
        height: 100%;
        transition: 0.4s;
      }
    }
    &:hover {
      .GLimg {
        img {
          transform: scale(1.1);
        }
      }
    }
    .GLtitle {
      height: 113px;
      background: #fff;
      position: relative;
      padding: 25px 10px 15px;
      a {
        font-size: 14px;
        color: $green-bg2;
        min-width: 156px;
        display: inline-flex;
        height: 40px;
        align-items: center;
        justify-content: space-around;
        padding: 0 10px;
        border-radius: 20px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: -25px;
        #{$start-direction}: 20px;
        background: #fff;
      }
      h2 {
        @extend .font20bold;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  .pagination {
    padding: 0;
  }
}
.videoBox .forClick::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background: url(../images/gallery/playIcon.svg) no-repeat center center;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ao end gallery page */

/* AO start contact us page */
.contactUsBg {
  padding-bottom: 128px;
  .contactBox {
    margin-top: 62px;
    .brief15Bold {
      padding-#{$start-direction}: 40px;
      font-size: 15px;
      font-weight: bold;
      line-height: 32px;
      color: $color3;
      margin: 5px 0 20px;
    }
    .UsList {
      padding: 0 40px;
      list-style: none;
      li {
        a {
          font-size: 16px;
          color: $color96A78C;
          margin-bottom: 20px;
          display: inline-block;
          .greenFont {
            font-size: 16px;
            color: $color96A78C;
            padding-#{$start-direction}: 10px;
            padding-#{$end-direction}: 25px;
          }
          .number {
            font-size: 15px;
            font-weight: bold;
            color: $green-bg2;
          }
        }
      }
    }
  }
  .bgMap {
    margin-top: 78px;
    padding-bottom: 75px;
    .col-md-6 {
      &:first-of-type {
        padding-#{$end-direction}: 0px;
      }
      &:last-of-type {
        padding-#{$start-direction}: 0px;
      }
    }
    .customTitle {
      margin-bottom: 32px;
    }
    .bgSend {
      background: #f1f5f2;
      padding: 60px 70px;
      .inputGroup {
        margin-bottom: 25px;
        input,
        select,
        textarea {
          width: 100%;
          color: $color3;
          font-weight: 500;
          &::placeholder {
            font-size: 16px;
            color: $color3;
            font-weight: 500;
          }
        }
        select {
          padding: 9px 17px;
          background-position: 20px 18px;
        }
      }
      .actionBtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .mapIframe {
      iframe {
        height: 681px;
        width: 100%;
      }
    }
  }
}
.channelCard {
  margin-top: 52px;
  display: flex;
  flex-wrap: wrap;
  .chCardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #cbddd6;
    width: 280px;
    height: 210px;
    justify-content: center;
    border-radius: 12px;
    margin-#{$end-direction}: 30px;
    margin-bottom: 30px;
    transition: 0.4s;
    p {
      font-size: 18px;
      font-weight: 600;
      color: $green-bg1;
      margin: 39px 0 0;
    }
    &:hover {
      background-color: $green-bg2;
      border: 2px solid $green-bg2;
      img {
        filter: invert(100%) sepia(3%) saturate(16%) hue-rotate(66deg)
          brightness(230%) contrast(100%);
      }
      p {
        color: #fff;
      }
    }
  }
}

/* AO end contact us page */

/* AO start committees page */
.committeesV2 {
  .ComText {
    height: 100%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .font20bold {
      font-size: 25px;
      margin-bottom: 21px;
    }
    .pragh17regular {
      font-size: 16px;
      margin: 0;
    }
  }
  .BoxBgQwqaflogo {
    margin-top: 43px;
  }
}

.clearPadding {
  margin-bottom: 100px;
  .list-cards {
    margin-top: 0;
    .list-card {
      width: 100%;
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
      margin-bottom: 57px;
      &:hover {
        .content-box {
          transform: translateY(0);
          padding: 23px 16px;
        }
      }
    }
  }
}
.marginBottom {
  margin: 65px 0;
}
.BoxBgQwqaflogo {
  height: 400px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    background: url(../images/committees/awqafBGLogo.png) no-repeat 0px 0px;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    #{$start-direction}: 0;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.boxCommittee {
  height: 234px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  transition: 0.3s;
  &:hover {
    background-color: #fff;
  }
  img {
    max-height: 62px;
    margin-bottom: 16px;
  }
  .pragh17regular {
    height: 88px;
    margin: 0;
    overflow: hidden;
  }
}
.committeesV1 {
  margin-bottom: 100px;
  .pragh17regular {
    font-size: 16px;
  }
  .col-md-12 {
    .pragh17regular {
      margin: 50px 0 60px;
      text-align: center;
    }
  }
  .boxCommitteeAwqaf {
    display: inline-block;
    transition: 0.4s;
    margin-bottom: 30px;
    .BoxBgQwqaflogo {
      height: 268px;
      overflow: hidden;
      img {
        transition: 0.4s;
      }
      &::after {
        height: 101%;
      }
    }
    .AQtext {
      background: #fff;
      padding: 24px 16px 22px;
      h3 {
        color: $green-bg2;
        font-size: 20px;
        margin-bottom: 11px;
      }
      p {
        color: #96a78c;
        font-size: 16px;
        line-height: 28px;
        height: 140px;
        margin-bottom: 40px;
        overflow: hidden;
      }
      .redMoreNews {
        img {
          transition: 0.4s;
          width: 30px;
        }
        span {
          font-size: 16px;
          color: $green-bg2;
          padding-#{$end-direction}: 10px;
        }
      }
    }
    &:hover {
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
      .BoxBgQwqaflogo {
        img {
          transform: scale(1.1);
        }
      }
      .AQtext {
        .redMoreNews {
          img {
            transform: translateX(-10px);
          }
        }
      }
    }
  }
}
/* AO end committees page */

/* start ReadableLibrary page*/
.readableBox {
  margin-bottom: 40px;
  &:hover {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
    .RImg {
      img {
        transform: scale(1.1);
      }
    }
  }
  .RImg {
    max-height: 383px;
    overflow: hidden;
    height: 383px;
    img {
      height: 103%;
      transition: 0.3s;
    }
  }
  .RText {
    background-color: #fff;
    padding: 18px 16px 23px;
    position: relative;
    h3 {
      @extend .font20bold;
      font-size: 17px;
      line-height: normal;
      height: 44px;
      overflow: hidden;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        background-color: #cbddd6;
        width: 78px;
        height: 3px;
        #{$start-direction}: 0;
        top: 36px;
      }
    }
    p {
      margin: 0;
      display: inline-flex;
      background: #fff;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
      padding: 4px 16px;
      border-radius: 20px;
      color: $golden-color;
      margin: 0;
      display: inline-flex;
      position: absolute;
      top: -52px;
      #{$end-direction}: 15px;
      span {
        font-size: 14px;
        padding-#{$start-direction}: 8px;
        color: $golden-color;
      }
    }
    .actionsBtn {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
    }
  }
}

.displayRow2 {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
  .readableBox {
    display: flex;
    padding: 12px;
    background: #fff;
    border: 1px solid #ececec;
    justify-content: space-between;
    .RImg {
      width: 196px;
      height: 226px;
    }
    .RText {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-items: unset;
      width: 65%;
      h3 {
        &::before {
          display: none;
        }
      }
      p {
        position: unset;
        display: inline-flex;
        width: fit-content;
        box-shadow: unset;
      }
      .actionsBtn {
        margin-top: 21px;
      }
    }
  }
  .readableBox {
    .RText {
      p {
        padding: 0;
      }
    }
  }
  .readableBoxV2 {
    margin-bottom: 40px;
  }
}
/* end ReadableLibrary page*/
/* start services page */
.FAQParent {
  .tabsBtns {
    .nav-item {
      button {
        min-width: 190px;
      }
    }
  }
}
.serviceBox {
  background: #fff;
  text-align: center;
  margin-bottom: 40px;
  padding: 60px 20px 30px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
  height: 315px;
  transition: 0.3s;
  &:hover {
    padding: 20px;
    background: $green-bg2;
    .srvText,
    .SrvLogo {
      display: none;
    }
    .detailsHidden {
      display: block;
    }
  }
  .SrvLogo {
    height: 120px;
  }
  .srvText {
    h3 {
      @extend .font20bold;
      font-size: 24px;
      margin: 0;
      line-height: normal;
      height: 90px;
      overflow: hidden;
    }
  }
  .detailsHidden {
    display: none;
    h4 {
      @extend .font20bold;
      font-size: 24px;
      margin: 0;
      line-height: normal;
      height: 70px;
      overflow: hidden;
      color: #fff;
    }
    p {
      font-size: 16px;
      margin-bottom: 23px;
      line-height: 26px;
      color: #fff;
    }
    .actionServ {
      margin: 0 20%;
      .btnWithArrow {
        background: #1c614e;
        justify-content: space-around;
        padding: 0 20px;
        margin-bottom: 9px;
      }
      .descServ {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid transparent;
        border-radius: 16px;
        color: #fff;
        font-size: 17px;
        transform: 0.3s;
        &:hover {
          border: 1px solid #fff;
        }
      }
    }
  }
}
.servicesPageTwo {
  background-color: $bgf7f7f7;
  padding: 73px 0 108px;
  .heading {
    padding-top: 31px;
    margin-bottom: 50px;
    .customTitle {
      margin-bottom: 20px;
    }
    p {
      @extend .pragh17regular;
      padding-#{$start-direction}: 40px;
    }
  }
  .redirectServ {
    background: #fff;
    border-radius: 8px;
    padding: 47px 24px 65px;
    h3 {
      @extend .font20bold;
    }
    .btnWithArrow {
      background: $green-bg1;
      justify-content: center;
      height: 86px;
      h3 {
        font-size: 25px;
        margin-bottom: 28px;
      }
      span {
        padding-#{$end-direction}: 25px;
        font-size: 25px;
        font-weight: bold;
      }
      &:hover {
        background-color: $green-bg3;
      }
    }
  }
  .wrapperBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
    .whiteBoxServ {
      background-color: #fff;
      padding: 19px 25px;
      border-radius: 8px;
      display: flex;
      margin-bottom: 37px;
      flex: 0 0 auto;
      width: calc(51% - 21px);
      &:nth-of-type(odd) {
        margin-#{$end-direction}: 21px;
      }
      .logoB {
        width: 37px;
        margin-#{$end-direction}: 15px;
        flex-shrink: 0;
      }
      .textB {
        h3 {
          color: $light-orange;
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 19px;
        }
        p {
          @extend .pragh17regular;
          margin-bottom: 0;
        }
      }
    }
  }
  .boxServ2 {
    display: flex;
    margin-bottom: 45px;
    .logoSR {
      width: 40px;
      margin-#{$end-direction}: 18px;
      flex-shrink: 0;
    }
    .testSR {
      h2 {
        color: #00846c;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 26px;
      }
      p {
        @extend .pragh17regular;
        margin-bottom: 12px;
      }
      ul {
        padding-#{$start-direction}: 15px;
        list-style: decimal;
        li {
        }
      }
      .ulIcons {
        list-style: none;
        padding: 0;
        display: flex;
        padding: 80px 0 60px;
        li {
          width: 210px;
          padding-#{$end-direction}: 63px;
          text-align: center;
          position: relative;
          z-index: 9;
          &:last-of-type {
            &::after {
              display: none;
            }
          }
          &::after {
            position: absolute;
            content: "";
            left: -20px;
            top: 67px;
            width: 50%;
            height: 10px;
            background: #d2d2d2;
            z-index: -1;
          }
          img {
            max-width: 138px;
          }
          p {
            height: 60px;
            overflow: hidden;
            margin-bottom: 0;
            margin-top: 31px;
          }
        }
      }
      .actionsDownload {
        display: flex;
        flex-wrap: wrap;
        .downloadFile {
          margin-#{$end-direction}: 20px;
        }
      }
    }
  }
}

/* end services page */
.RegulationsV2 {
  background-color: $bgf7f7f7;
}
.imgHeaing {
  max-height: 437px;
  text-align: left;
  margin-top: 50px;
  img {
  }
}
.textHeading {
  margin-top: 50px;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  p {
    @extend .pragh17regular;
    margin: 0;
    line-height: 32px;
  }
}
.flexRevers {
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 50px;
  .tabsBtns {
    padding-right: 0;
    justify-content: #{$start-direction};
    margin: 0 !important;
    .nav-item {
      button {
        min-width: auto;
        font-size: 14px;
      }
    }
  }
  .searchNews {
    input {
      width: 100%;
    }
  }
  .displayComponent {
    .label {
      font-size: 14px;
    }
  }
}

.readableBoxV2 {
  margin-bottom: 50px;
  .RText {
    .actionsBtn {
      overflow: unset;
    }
    background-color: transparent;
    h3 {
      font-size: 16px;
      &::before {
        display: none;
      }
      line-height: 35px;
      height: 65px;
      margin-bottom: 10px;
    }
  }
  .shareLink {
    .shareLi {
      top: -50px;
      #{$end-direction}: 0;
      #{$start-direction}: unset;
      display: flex;
      background: #fff;
      border-radius: 8px;
      border: 1px solid #e2e2e2;
      padding: 2px;
      align-items: center;
      box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.2);
      opacity: 0;
      li {
        padding-left: 5px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 32px;
        #{$end-direction}: 58px;
        width: 0;
        height: 0;
        border-#{$end-direction}: 10px solid transparent;
        border-#{$start-direction}: 10px solid transparent;
        border-top: 10px solid #fff;
      }
    }
    &:hover {
      .shareLi {
        opacity: 1;
        li {
          padding-#{$end-direction}: 5px;
        }
      }
      strong {
        transform: translateX(0px);
        opacity: 1;
      }
    }
    strong {
      display: flex;
      align-items: center;
      span {
        padding-#{$start-direction}: 10px;
      }
    }
  }
  .actionsBtn {
    .downloadL {
      a {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        span {
          padding-#{$start-direction}: 10px;
          font-size: 15px;
          padding-#{$end-direction}: 10px;
        }
      }
    }
  }
  &:hover {
    .RText {
      background-color: #fff;
    }
  }
}
.Bgshare {
  background-color: $bgf7f7f7;
}
.TermsConditions,
.PrivacyPolicy {
  padding-bottom: 170px;
  padding-top: 40px;
  background-color: $bgf7f7f7;
  .textHeading {
    h1 {
      width: 100%;
      color: $green-bg1;
      line-height: 24px;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
  .boxDesc {
    margin-bottom: 50px;
    .customTitle {
      margin-bottom: 33px;
    }
    p {
      @extend .pragh17regular;
      margin-bottom: 0;
      line-height: 34px;
    }
  }
}
/*Search Results*/

.SearchResults {
  background-color: $bgf7f7f7;
  padding-top: 53px;
  .bgSearch {
    background: #d7e5df;
    border-radius: 12px;
    padding: 25px 56px;
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .form-group-search {
      width: 85%;
      display: flex;
      input {
        border: unset;
        width: calc(100% - 68px);
        border-radius: 0;
        height: 60px;
      }
      button {
        height: 60px;
        border: unset;
        width: 65px;
        background: $green-bg3;
      }
    }
    .helpClass {
      span {
        font-size: 16px;
        color: $green-bg1;
        padding-#{$start-direction}: 11px;
      }
    }
  }
  .resultSearc {
    color: $color4;
    font-size: 16px;
    padding-#{$start-direction}: 58px;
    margin: 10px 0 43px;
  }

  .resultBox {
    padding: 0;
    list-style: none;
    li {
      &:hover {
        background-color: #fff;
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
      }
      &:last-of-type {
        border-bottom: 0px solid #d6e2de;
      }
      border-bottom: 1px solid #d6e2de;
      padding: 30px 45px 37px 45px;
      > {
        img {
          width: 25px;
          float: right;
          object-fit: none;
          object-position: top;
        }
      }
      h3 {
        padding-#{$start-direction}: 40px;
        margin-top: -8px;
        a {
          @extend .font20bold;
          font-size: 25px;
          margin-bottom: 12px;
        }
      }
      p {
        font-size: 16px;
        color: #0b261f;
        margin-bottom: 7px;
        padding-#{$start-direction}: 40px;
      }
      .downloadPdf {
        font-size: 14px;
        color: #c48145;
        margin: 0;
        padding-#{$start-direction}: 40px;
      }
    }
  }
  .pagination {
    padding-top: 95px;
  }
}

.Suggestions {
  background-color: $bgf7f7f7;
  padding-top: 97px;
  .customTitle {
    margin-bottom: 20px;
  }
  .bgWhite {
    background: #fff;
    padding: 35px 52px 20px 52px;
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.1);
    .red {
      color: #c44545;
      padding-right: 7px;
    }
    .inputg {
      label {
        display: block;
        margin-bottom: 5px;
        color: #0b261f;
        font-size: 16px;
      }
      input[type="email"],
      input[type="number"],
      textarea,
      select,
      input[type="text"] {
        width: 100%;
        border: 2px solid #cbddd6;
        height: 48px;
        border-radius: 6px;
        margin-bottom: 15px;
      }
      textarea {
        min-height: 115px;
      }
      select {
        background: #fff url(../images/news/ArrowSelect.svg) no-repeat 13px 20px;
      }
    }
  }
  .bgW2 {
    background: rgba(203, 221, 214, 0.3);
    padding: 35px 52px 20px 52px;
    border-radius: 6px;
    .filepond--drop-label {
      background: #fff;
      label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 18px;
        padding-#{$end-direction}: 41px;
      }
    }
    .hintUpload {
      span {
        font-size: 14px;
        color: $color1;
        padding-#{$start-direction}: 15px;
      }
    }
  }
  .actionBtn {
    padding: 85px 0 30px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btnWithArrow {
      background-color: #00846c;
      &:hover {
        background-color: #1c614e;
      }
    }
  }
}

.searchModal {
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 917px;
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
  }
}
.modal-header {
  justify-content: space-between;
  padding: 0;
  margin: 12px 21px 29px;
  border-bottom: 1px solid #dcebe5;
  padding-bottom: 10px;
}
.modal-header .btn-close {
  padding: unset;
  margin: unset;
}
.modal-footer {
  display: none;
}

/* start responsive media */

/* tab */
@media (max-width: 992px) {
  .breadcrumb-area .functions-sec {
    display: none;
  }
  .committeesV2 {
    .ComText {
      padding-left: 0;
    }
  }
  .BoxBgQwqaflogo {
    height: 280px;
  }
  .committeesV1 {
    margin-bottom: 0;
  }
  .contactUsBg {
    .bgMap {
      .bgSend {
        padding: 28px 20px;
        .actionBtn {
          flex-direction: column;
          .btnWithArrow {
            margin-top: 20px;
          }
        }
      }
    }
    padding-bottom: 0;
    .contactBox {
      .UsList {
        li {
          a {
            .greenFont {
              padding-#{$end-direction}: 0px;
            }
          }
        }
      }
    }
  }

  .BGInnerNew {
    padding-bottom: 0px;
  }

  // -----------------------------------
  .bgNews .forDirction {
  }
  .bgNews .forDirction .col-md-3 {
    max-width: unset;
  }
  .forDirction .col-md-3:nth-of-type(1) {
    width: 35%;
  }
  .forDirction .col-md-3:nth-of-type(2) {
    width: 30%;
  }
  .forDirction .col-md-3:nth-of-type(3) {
    display: none;
  }
  .RegulationsV2 .displayHandlerCompenet2 .col-md-3,
  .snipptNews .col-md-3,
  .displayHandlerCompenet .col-md-3 {
    width: 50%;
  }
  .RegulationsV2 .flexRevers .tabsBtns .nav-item button {
    margin-bottom: 20px;
    margin-#{$start-direction}: 0;
  }
  .RegulationsV2 .displayComponent {
    display: none;
  }
  .RegulationsV2 .flexRevers .col-md-3:first-of-type {
    width: 100%;
  }
  .RegulationsV2 .flexRevers .searchNews {
    margin-bottom: 20px;
    max-width: 250px;
  }
  .displayHandlerCompenet.displayRow .col-md-3 {
    width: 100%;
  }
  .BGInnerNew .col-md-12 .font30bold {
    font-size: 28px;
    padding-bottom: 20px;
  }
  .BGInnerNew .arrowNews .owl-carousel .owl-nav button.owl-next {
    right: -15px;
    background-color: #fff;
  }
  .BGInnerNew .arrowNews .owl-carousel .owl-nav button.owl-prev {
    left: -15px;
    background-color: #fff;
  }
  .BGInnerNew .sliderNews .fancybox img {
    max-height: 300px;
  }
  .endowmentHeader .endowmentBox {
    padding: 92px 20px;
  }
  .arrowNews .owl-carousel .owl-nav button.owl-next {
    transform: scaleX(-1) translateY(-50%);
  }
  .endowmentHeader .endowmentBox li h3 {
    font-size: 23px;
  }

  .chartDevEndowment ul li:last-of-type::before,
  .chartDevEndowment ul li::after {
    display: none;
  }
  .chartDevEndowment ul li:nth-of-type(5) {
    order: 2;
  }
  .chartDevEndowment ul li:nth-of-type(6) {
    order: 1;
  }
  .downloadBook a {
    flex-direction: column-reverse;
  }
  .downloadBook a strong {
    padding: 20px;
    text-align: center;
  }
  footer .top-footer {
    text-align: center;
  }
  footer .top-footer .social-media,
  .two-logos {
    justify-content: center !important;
  }
  footer .top-footer .social-media {
    margin-bottom: 20px;
  }
  .FAQParent .tabsBtns .nav-item button {
    min-width: 190px;
    margin-bottom: 20px;
  }
  .FAQParent .tab-content .accordion-item .accordion-header button {
    font-size: 16px;
    text-align: #{$start-direction};
  }
  .FAQParent .tab-content .accordion-item .accordion-header button {
    height: auto;
    padding: 20px 44px;
    line-height: 1.5;
  }
  .ReadableLibrary .displayHandlerCompenet2 .col-md-3 {
    width: 50%;
  }
  .servicesPageTwo .col-md-4,
  .servicesPageTwo .col-md-8 {
    width: 100%;
  }
  .servicesPageTwo .boxServ2 .testSR .ulIcons {
    flex-wrap: wrap;
  }
  .servicesPageTwo .boxServ2 .testSR .actionsDownload .downloadFile {
    margin-bottom: 20px;
  }
  .servicesPageTwo .boxServ2 .testSR .ulIcons li:nth-of-type(3)::after {
    display: none;
  }
  .servicesPageTwo  .reverseMob {
    flex-direction: column-reverse;
  }
  .SearchResults .bgSearch form {
    flex-direction: column;
    align-items: baseline;
  }
  .SearchResults .bgSearch .form-group-search {
    width: 100%;
    margin-bottom: 20px;
  }
  // -----------------------------------
}
/* end tab 992 */

/* mob */
@media (max-width: 767px) {
  body .main-navbar .navbar-toggler {
    top: 100px;
  }
  body .main-navbar #navbarSupportedContent {
    top: 155px;
  }
  .top-nav .top-links a.language {
    margin-#{$end-direction}: 10px;
  }
  .top-nav .top-links .contact-us-top {
    margin-#{$end-direction}: 0px;
  }
  .top-nav .top-links .Accessibilty {
    margin-#{$end-direction}: 0px;
  }
  .top-nav .top-links a.waqfi {
    padding-#{$end-direction}: 10px;
    margin-#{$end-direction}: 10px;
    border-#{$end-direction}: 1px solid #12783F;
  }
  .main-navbar .nav-item .dropdown-menu::before {
    top: 38px;
  }
  .committeesV2 {
    .ComText {
      margin-top: 25px;
    }
  }
  .marginBottom {
    margin: 30px 0;
  }
  .BoxBgQwqaflogo {
    height: 280px;
  }
  .clearPadding {
    margin-bottom: 0px;
  }
  .contactUsBg {
    padding-top: 40px;
    .bgMap {
      margin-top: 0;
      .customTitle {
        margin-bottom: 32px;
        margin-top: 30px;
      }
      .col-md-6 {
        &:first-of-type {
          padding-#{$end-direction}: 12px;
        }
        &:last-of-type {
          padding-#{$start-direction}: 12px;
        }
      }
    }
    .contactBox {
      margin-top: 0;
    }
  }
  .channelCard {
    .chCardBox {
      margin: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .BGInnerNew .col-md-12 .font30bold {
    font-size: 25px;
    padding-bottom: 20px;
    line-height: 1.6;
  }
  .BGInnerNew .dateOfNews {
    flex-direction: column;
  }
  .BGInnerNew .arrowNews .owl-carousel .owl-nav button.owl-next {
    right: -15px;
    transform: scale(-0.8) translateY(50%);
    background-color: #fff;
  }
  .BGInnerNew .arrowNews .owl-carousel .owl-nav button.owl-prev {
    left: -15px;
    transform: scale(0.8) translateY(-50%);
    background-color: #fff;
  }
  .BGInnerNew .sliderNews .fancybox img {
    max-height: 220px;
    height: 100vh;
    object-fit: cover;
  }
  .sliderNews .fancybox::after {
    bottom: 0px;
    right: 5px;
    transform: scale(0.8);
  }
  .BGInnerNew .contentNews p {
    font-size: 16px;
  }
  // -----------------------------------
  .bgNews .forDirction {
  }
  .bgNews .forDirction .col-md-3 {
    max-width: unset;
  }
  .forDirction {
    text-align: #{$start-direction};
  }
  .forDirction .col-md-3:nth-of-type(1) {
    width: 100%;
    margin-bottom: 15px;
  }
  .forDirction .col-md-3:nth-of-type(2) {
    width: 100%;
  }
  .forDirction .col-md-3:nth-of-type(3) {
    display: none;
  }

  .snipptNews .col-md-3,
  .displayHandlerCompenet .col-md-3 {
    width: 100%;
  }
  .displayHandlerCompenet.displayRow .col-md-3 {
    width: 100%;
  }
  //   -------------------------------
  .endowmentHeader .endowmentBox {
    padding: 92px 20px 25px 20px;
    height: auto;
  }
  .endowmentHeader .owl-item img {
    height: 350px;
  }
  .downloadBook a strong {
    font-size: 20px;
  }
  .downloadBook a strong span {
    font-size: 14px;
  }
  footer .footer-slider .item .caption {
    font-size: 20px;
  }
  footer .footer-slider .item .caption a {
    margin: 0;
  }
  footer .last-footer .copySection {
    flex-wrap: wrap-reverse;
  }
  footer .last-footer .copySection p {
    margin-top: 20px;
  }
  .FAQParent .tabsBtns li {
      width: 100%;
  }
  .FAQParent .tabsBtns li button{
    width: 90%;
  }
  .downloadFile,
  .ReadableLibrary .displayHandlerCompenet2 .col-md-3,
  .readableBox .RImg img,
  .bgGallery .galleryBox .GLimg img {
    width: 100%;
  }
  .bgGallery .forDirction {
    justify-content: flex-end;
  }
  .servicesPageTwo {
    padding: 0;
  }
  .servicesPageTwo .wrapperBox {
    flex-wrap: wrap;
  }
  
  .servicesPageTwo .wrapperBox .whiteBoxServ {
    width: 100%;
    margin: 0 0 20px 0;
  }
  
  .servicesPageTwo .redirectServ {
    padding: 47px 24px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .servicesPageTwo .wrapperBox .whiteBoxServ .textB h3 {
    font-size: 20px;
  }

  
  .servicesPageTwo .redirectServ .btnWithArrow {
    height: 70px;
  }
  .flexRevers .tabsBtns li {
    width: 95%;
  }
  .servicesPageTwo .boxServ2 .testSR .actionsDownload .downloadFile {
    margin-left: 0;
    padding: 12px;
  }
  .downloadFile .logoBorder {
    padding: 10px;
  }
  .servicesPageTwo .heading {
    padding-top: 0;
  }
  .flexRevers .tabsBtns li button {
    width: 100%;
  }
  .RegulationsV2 .displayHandlerCompenet2 .col-md-3 {
    width: 100%;
  }
  .RegulationsV2 .readableBox .RText h3 {
    height: auto;
  }
  .readableBox .RImg {
    max-height: 260px;
  }
  .SearchResults .bgSearch {
    padding: 20px;
  }
  .SearchResults .resultBox li {
    padding: 30px 10px 37px 10px;
  }
  .SearchResults .resultBox li .downloadPdf {
    display: block;
    word-break: break-all;
  }
  .SearchResults .resultBox li h3 a {
    font-size: 23px;
  }
  .SearchResults .pagination {
    padding: 0;
  }
  .SearchResults .bgSearch .form-group-search button,
  .SearchResults .bgSearch .form-group-search input {
    height: 50px;
  }
  .SearchResults .resultSearc {
    padding-#{$start-direction}: 0;
  }
  .TermsConditions {
    padding-bottom: 0px;
  }
  .TermsConditions .textHeading{
    margin-top: 0;
  }
  .TermsConditions  .textHeading h1 {
    line-height: 1.5;
    margin-bottom: 15px;
  }
  .imgHeaing {
    margin: 10px 0 50px;
  }
  .Suggestions {
    padding-top: 35px;
  }
  .Suggestions .bgW2,
  .Suggestions .bgWhite {
    padding: 20px;
  }
  .Suggestions .actionBtn {
    flex-direction: column;
    padding: 45px 0 20px;
  }
  .Suggestions .actionBtn .btnWithArrow {
    margin-top: 20px;
  }
  .Suggestions .bgW2 .filepond--drop-label label {
    padding: 15px;
  }
  .Suggestions .bgW2 .filepond--drop-label label img:first-of-type{
    width: 20%;
  }
  .Suggestions .bgW2 .filepond--drop-label label img:last-of-type{
    width: 70%;
  }
  .hintUpload {
    display: inline-flex;
    align-items: flex-start;
  }
  .hintUpload  img {
    padding-top: 7px;
  }
}
/* end mob 767 */
@media (max-width: 350px) {
  .readableBox .RText h3 {
    height: 55px;
  }
  .readableBox .RText h3::before {
    top: 95%;
  }
}
@media (min-width:504px ) and (max-width: 767px) {
  .servicesPageTwo .boxServ2 .testSR .ulIcons li:nth-of-type(4)::after,
  .servicesPageTwo .boxServ2 .testSR .ulIcons li:nth-of-type(2)::after{
    display: none;
  }
  .servicesPageTwo .boxServ2 .testSR .ulIcons li:nth-of-type(3)::after {
    display: block ;
  }
}
@media (max-width:500px) {
  .servicesPageTwo .boxServ2 .testSR .ulIcons {
    justify-content: center;
    padding-bottom: 0;
  }
  .servicesPageTwo .boxServ2 .testSR .ulIcons li::after {
    display: none;
  }
  .servicesPageTwo .boxServ2 .testSR .ulIcons li p {
    margin-top: 9px;
    margin-bottom: 20px;
  }
} 
/* end responsive media */


/* start print style */
@media print {

  /**{ color-adjust: exact;  -webkit-print-color-adjust: exact; print-color-adjust: exact; }*/
  body {
    -webkit-print-color-adjust: exact !important;
    text-align: right !important;
  }
  .innerpages {
    .table {
      >thead {
        >tr {
          >th {
            -webkit-print-color-adjust: exact !important;
            background: #228B5E !important;
            color: #fff !important;
          }
        }
      }
      >tbody {
        >tr {
          >th {
            -webkit-print-color-adjust: exact !important;
            background: #228B5E !important;
            color: #fff !important;
          }
          >td {
            -webkit-print-color-adjust: exact !important;
            color: #555 !important;
          }
          &:nth-child(odd) {
            -webkit-print-color-adjust: exact !important;
            background: #F3F3F3 !important;
          }
          &:nth-child(even) {
            -webkit-print-color-adjust: exact !important;
            background: #fff !important;
          }
        }
      }
    }
    .grid {
      >thead {
        >tr {
          >th {
            -webkit-print-color-adjust: exact !important;
            background: #228B5E !important;
            color: #fff !important;
          }
        }
      }
      >tbody {
        >tr {
          >th {
            -webkit-print-color-adjust: exact !important;
            background: #228B5E !important;
            color: #fff !important;
          }
          >td {
            -webkit-print-color-adjust: exact !important;
            color: #555 !important;
          }
          &:nth-child(odd) {
            -webkit-print-color-adjust: exact !important;
            background: #F3F3F3 !important;
          }
          &:nth-child(even) {
            -webkit-print-color-adjust: exact !important;
            background: #fff !important;
          }
        }
      }
    }
  }
  

}

/* end print style */