/* AO start global fields */
$bgf7f7f7: #f7f7f7;
.fancybox-skin {
  padding: 0px!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  background: transparent;
}
.main-navbar.fixed {
  display: none;
}
.fancybox-prev span,
.fancybox-next span,
.fancybox-close {
  background-size: 44px;
}
.fancybox-lock .fancybox-overlay {
  overflow-y: auto;
}
.breadcrumb-area {
  background-color: rgba(217, 217, 217, 0.35);
}
.label {
  color: $green-color3;
  font-size: 16px;
  font-weight: 500;
}
.font20bold {
  color: $green-bg1;
  line-height: 35px;
  font-size: 20px;
  font-weight: bold;
}
.font30bold {
  font-size: 30px;
  font-weight: bold;
  color: $green-bg1;
  line-height: 55px;
}
.pragh17regular {
  color: $color3;
  font-size: 17px;
  line-height: 1.6;
}
.pragh17regular2 {
  font-size: 17px;
  font-weight: 400;
  color: $color1;
  margin-bottom: 0;
  line-height: 32px;
}
.customTitle {
  font-size: 25px;
  font-weight: 700;
  color: $green-bg1;
  margin-bottom: 15px;
  padding-#{$start-direction}: 40px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(../images/endowment/titleArrow.svg) no-repeat 0 0;
    background-size: contain;
  }
}
.readMoreBtn {
  padding: 15px 32px;
  background: rgba(203, 221, 214, 0.3);
  border-radius: 28px;
  font-size: 18px;
  color: $green-bg1;
  span {
    font-size: 18px;
    margin-#{$end-direction}: 13px;
  }
  &:hover {
    color: $green-bg1;
  }
}
select::-ms-expand {
  display: none;
}
select {
  min-width: 110px;
  min-height: 36px;
  border: 3px solid $green-bg2;
  padding: 0 15px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  @extend .label;
  background: url(../images/news/ArrowSelect.svg) no-repeat 13px 12px;
  option {
    // color: $green-color3;
    // font-size: 16px;
    // font-weight: 500;
  }
}
label {
  @extend .label;
}
/* AO end global fields */

/* AO start news page */
.forDirction {
  flex-direction: row-reverse;
  text-align: #{$end-direction};
  padding: 36px 0;
  .col-md-3 {
    max-width: 265px;
  }
  .displayComponent {
    justify-content: #{$end-direction};
  }
}
.filterDate {
  label {
    padding-#{$end-direction}: 16px;
    line-height: 36px;
  }
}
.searchNews {
  input {
    min-width: 195px;
    min-height: 36px;
    border: 3px solid $green-bg2;
    padding: 0 15px;
    border-radius: 6px;
    background: url(../images/news/searchIcon.svg) no-repeat 13px 7px;
    font-size: 16px;
    color: #05261487;
  }
}

.displayComponent {
  display: flex;
  .boxText {
    .label {
      padding-#{$end-direction}: 16px;
      margin-bottom: 0;
      line-height: 36px;
    }
  }
  .boxGridDS {
    background: #e9edea;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 36px;
    a {
      display: inline-flex;
      width: 48px;
      height: 36px;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      &.active {
        background: $green-bg2;
        img {
          filter: brightness(10);
        }
      }
    }
  }
}

.displayRow {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
}
.bgNews {
  background-color: $bgf7f7f7;
}
.cardNews {
  transition: 0.3s;
  height: 515px;
  margin-bottom: 40px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  .forClick {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .CardImg {
      height: 228px;
      img {
        // height: calc(100% - 20px);
      }
    }
    .cardText {
      height: 286px;
      //   transform: translateY(-20px);
      .heading20 {
        margin-bottom: 32px;
      }
    }
  }
  .CardImg {
    height: 247px;
    transition: 0.3s;
    img {
      height: 100%;
      max-width: 100%;
      transition: 0.3s;
      width: 100%;
    }
  }
  .cardText {
    background-color: #fff;
    padding: 14px 16px 19px;

    height: 268px;
    transition: 0.3s;
    .date {
      margin-bottom: 6px;
      background: $light-orange;
      display: inline-flex;
      align-items: center;
      padding: 3px 11px;
      height: 34px;
      border-radius: 2px;
      span {
        color: #fff;
        font-size: 14px;
        padding-#{$start-direction}: 15px;
      }
      img {
        max-width: 16px;
      }
    }
    .heading20 {
      @extend .font20bold;
      margin-bottom: 12px;
      max-height: 140px;
      overflow: hidden;
      transition: 0.3s;
    }
    .praghCard {
      font-size: 16px;
      line-height: 1.6;
      color: #8fa498;
      display: none;
    }
    .redMoreNews {
      display: flex;
      align-items: center;
      justify-content: #{$end-direction};
      position: relative;
      z-index: 9;
      span {
        font-size: 16px;
        padding-#{$end-direction}: 11px;
        color: #3aa877;
      }
      img {
        max-width: 43px;
        transition: 0.3s;
      }
      &:hover {
        img {
          transform: translateX(-3px);
        }
      }
    }
  }
}
.displayRow {
  .cardNews {
    display: flex;
    height: 287px;
    background: white;
    .CardImg {
      height: 100%;
      overflow: hidden;
      margin: 15px;
      max-height: 257px;
      background: white;
      flex-shrink: 0;
      max-width: 343px;
    }
    .cardText {
      height: 100%;
      padding-#{$start-direction}: 8px;
      .praghCard {
        display: block;
      }
      .heading20 {
        margin-bottom: 26px;
      }
    }
    &:hover {
      box-shadow: 0 3px 25px rgba(0, 0, 0, 0.2);
      .CardImg {
        // height: 228px;
        img {
          transform: scale(1.2);
        }
      }
      .cardText {
        // height: 288px;
        // transform: translateY(-20px);
        .heading20 {
          margin-bottom: 26px;
        }
      }
    }
  }
}
.pagination {
  padding: 25px 0 35px;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 5px;
    margin: 0 7px;
    font-size: 16px;
    color: $green-bg1;
    // &:first-of-type {
    //     transform: rotate(180deg);
    // }
    &.current {
      background-color: $green-bg2;
      color: #fff;
      cursor: unset;
    }
    &.aspNetDisabled {
      cursor: unset;
      opacity: 0.5;
    }
  }
}
.BGInnerNew {
  padding-bottom: 205px;
  .font30bold {
    padding: 44px 0 78px;
  }
  .dateOfNews {
    display: flex;
    margin-bottom: 26px;
    .dateNS {
      padding-#{$end-direction}: 30px;
      display: flex;
      align-items: center;
      span {
        font-size: 14px;
        color: #96a78c;
        padding-#{$start-direction}: 5px;
      }
    }
  }
  .contentNews {
    padding: 33px 0 4px;
    p {
      @extend .pragh17regular;
      margin-bottom: 33px;
    }
  }
}
.sliderNews {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  .fancybox {
    &::after {
      width: 50px;
      height: 50px;
      background: url(../images/news/fullscreen.svg) no-repeat center center;
      background-size: cover;
      content: "";
      position: absolute;
      bottom: 22px;
      right: 29px;
    }
  }
  img {
    max-height: 560px;
    border-radius: 12px;
  }
}
.arrowNews {
  position: relative;
  .owl-carousel {
    .owl-nav {
      button {
        width: 44px;
        height: 44px;
        border: 1px solid #00ab7a !important;
        border-radius: 4px;
        background: url(../images/news/arrowSlider.svg) no-repeat 13px 9px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        span {
          visibility: hidden;
        }
        &.owl-prev {
          #{$end-direction}: -96px;
        }
        &.owl-next {
          #{$start-direction}: -96px;
          transform: scaleX(-1);
        }
        &.disabled {
          opacity: 0.5;
          cursor: auto;
        }
      }
    }
  }
}
body {
  .dotsCustom {
    .owl-dot {
      &.active {
        background-color: $green-bg1;
      }
      border: 2px solid $green-bg1;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 0 7px;
      background: transparent;
    }
  }
}
/* AO end news page */
/* AO start endowment page */
.endowmentHeader {
  padding: 55px 0 0;
  .owl-item {
    img {
      height: 560px;
      object-fit: cover;
    }
  }
  .sliderNews {
    .owl-dots {
      position: absolute;
      bottom: 32px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }
  .owl-carousel {
    .owl-nav {
      button {
        background-color: #fff;
        border: unset !important;

        &.owl-prev {
          #{$end-direction}: 5px;
        }
        &.owl-next {
          #{$start-direction}: 5px;
        }
      }
    }
  }

  .endowmentBox {
    // background-color:#B4DDC0 ;
    height: 560px;
    border-radius: 12px;
    padding: 92px 45px;
    text-align: center;
    list-style: none;
    background: url(../images/endowment/Pattern01.svg) no-repeat 50% 0px;
    background-color: rgba(180, 221, 192, 0.5);
    li {
      margin-bottom: 20px;
      border-bottom: 1px solid #fff;
      &:last-of-type {
        margin-bottom: 0px;
        border-bottom: 0px solid #fff;
      }
      h3 {
        @extend .font30bold;
        margin-bottom: 0;
        line-height: normal;
      }
      p {
        margin-bottom: 15px;
        color: $green-bg2;
      }
    }
  }
}
.endowmentContent {
  .contentBox {
    .customTitle {
      margin: 33px 0;
    }
    p {
      @extend .pragh17regular2;
    }
    .row {
      justify-content: center;
    }
    .boxServices {
      .customTitle {
        margin-bottom: 50px;
      }
    }
  }
}
.boxServices {
  text-align: center;
  margin-bottom: 50px;
  .iconServ {
    margin-bottom: 20px;
  }
}
.downloadBook {
  padding: 90px 0 89px;
  a {
    background: #b4ddc0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    strong {
      @extend .font30bold;
      padding-#{$start-direction}: 76px;
      line-height: normal;
      span {
        display: block;
        font-size: 16px;
        color: #fff;
        margin-bottom: 16px;
      }
    }
    .bgQwqaf {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        background: url(../images/endowment/awqafBG.png) no-repeat 0 0;
        height: 100%;
        width: 240px;
        right: 0;
      }
    }
  }
}
.chartDevEndowment {
  ul {
    display: flex;
    text-align: center;
    justify-self: flex-start;
    justify-content: #{$end-direction};
    flex-wrap: wrap;
    // direction: ltr;
    li {
      list-style: none;
      // max-width: 206px;
      max-width: 306px;
      position: relative;
      margin-bottom: 44px;
      padding: 0 30px;
      &::after {
        position: absolute;
        content: "";
        top: 25px;
        height: 2px;
        width: 75%;
        background-color: #00ab7aa3;
        right: 191px;
      }
      span {
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(76, 192, 173, 0.5);
        border-radius: 50%;
        font-size: 30px;
        font-weight: bold;
        color: $green-bg1;
        margin: 0 auto;
      }
      p {
        @extend .pragh17regular2;
      }
    }
  }
}
.chartDevEndowment {
  ul {
    li {
      &:nth-of-type(4n) {
        &::after {
          width: 45%;
        }
      }
      &:last-of-type {
        &::after {
          width: 45%;
        }
        &::before {
          position: absolute;
          content: "";
          height: 163px;
          width: 29px;
          #{$end-direction}: -26px;
          top: -135px;
          border-radius: 7px;
          display: flex;
          border-#{$end-direction}: 3px solid #00ab7aa3;
        }
      }
    }
  }
}
/* AO End endowment page */

.FAQParent {
  background-color: $bgf7f7f7;
  .accordion {
    margin-bottom: 68px;
  }
  .tabsBtns {
    margin: 50px 0 42px;
    justify-content: center;
    .nav-item {
      button {
        min-width: 224px;
        background: #fff;
        height: 62px;
        margin: 0 10px;
        border-radius: 8px;
        color: $color4;
        font-size: 16px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        &.active {
          background: $green-bg1;
          color: #fff;
        }
      }
    }
  }
  .tab-content {
    margin: 30px 0 0;
    .accordion-item {
      border: unset;
      background: transparent;

      .accordion-header {
        button {
          background: #ffffff;
          border: unset;
          height: 68px;
          padding: 0 44px;
          font-size: 17px;
          color: $color3;
          position: relative;
          box-shadow: unset;
          border-radius: 8px;
          margin-bottom: 15px;
          &::after {
            background-image: url(../images/news/faqsArrow.svg);
            #{$start-direction}: 20px;
            position: absolute;
            width: 13px;
            height: 12px;
            background-size: contain;
            top: 30px;
            filter: brightness(0);
            transform: rotate(-93deg);
          }
          &:not(.collapsed) {
            color: $green-bg3;
            &::after {
              filter: unset;
              transform: unset;
            }
          }
        }
      }
      .accordion-body {
        padding: 11px 20px 40px 20px;
        background: transparent;
        .contentFaq {
          p {
            font-size: 16px;
            line-height: 2;
            color: $color3;
          }
          .actionFaqs {
            margin-top: 25px;
            text-align: center;
            h2 {
              font-size: 16px;
              font-weight: bold;
              color: $green-bg1;
              margin-bottom: 18px;
            }
            .ActionBtn {
              button {
                border: unset;
                min-width: 62px;
                height: 40px;
                border-radius: 6px;
                background: #fff;
                font-size: 18px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
                &.yesFaq {
                  color: $green-bg3;
                  margin-#{$end-direction}: 18px;
                }
                &.noFaq {
                  color: $golden-color;
                }
              }
            }
          }
        }
      }
    }
  }
  .redMoreCenter {
    padding-bottom: 124px;
    text-align: center;
  }
}

/* ao start gallery page */
.bgGallery {
  background-color: $bgf7f7f7;

  .galleryBox {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 40px;
    .forClick {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }

    .GLimg {
      height: 247px;
      overflow: hidden;
      position: relative;
      img {
        height: 100%;
        transition: 0.4s;
      }
    }
    &:hover {
      .GLimg {
        img {
          transform: scale(1.1);
        }
      }
    }
    .GLtitle {
      height: 113px;
      background: #fff;
      position: relative;
      padding: 25px 10px 15px;
      a {
        font-size: 14px;
        color: $green-bg2;
        min-width: 156px;
        display: inline-flex;
        height: 40px;
        align-items: center;
        justify-content: space-around;
        padding: 0 10px;
        border-radius: 20px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: -25px;
        #{$start-direction}: 20px;
        background: #fff;
      }
      h2 {
        @extend .font20bold;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  .pagination {
    padding: 0;
  }
}
.videoBox .forClick::before{
    position: absolute;
  content: '';
  width: 60px;
  height: 60px;
  background: url(../images/gallery/playIcon.svg) no-repeat center center;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);;
}

/* ao end gallery page */
